@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/home.css" />

<body>
    <br />
    <h1>Bem-Vindo ao SaganDex</h1>
    <br />
    <br />
      
    <p>Sua enciclopédia virtual portátil para registar o Cosmos.</p>
    <p>
        Faça seu cadastro de usuário para acessar <br />
        o catálogo de estrelas e de planetas extra-solares.
    </p>
    <br />
    <a href="/Login/Entrar" class="btn btn-success">Faça seu Login</a>
    <br />
    <br />
    <p>É novo por aqui? Acesse a Lista de Usuários e cadastre-se!</p>
       
    <a href="/Usuarios/Index" class="btn btn-primary">Faça seu Cadastro</a>


</body>
